[Desktop Entry]
Name=FlashlightSample
Exec=/usr/bin/qmlscene $@ /usr/share/FlashlightSample/FlashlightSample.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
